html{
    background: white;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body{
    margin: 0px;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
}
a{
    color: white;
    text-decoration: underline;
}
a:hover{
    text-decoration: none;
}

img{
    border: 0px;
}
h1{
    margin-top: 0px;
}
.header{
    width: 100%;
    max-width: 960px;
    min-width: 430px;
    margin: 0 auto 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    box-sizing: border-box;
}
.logo{
    background-color: black;
    width: 200px;
    height: 80px;
    font-size: 0px;
    margin: 0 10px 10px 0;
    display: flex;
    flex: none;
    /*для элемента, это означает, 
    что его размер не будет автоматически 
    изменяться в соответствии с остальными элементами в контейнере*/
    align-items: center;
}
.nav{
    margin: -5px 0 10px -15px;
    display: flex;
    flex-wrap: wrap;
}
.nav-itm{
    background: black;
    width: 130px;
    height: 50px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 5px 0px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
